h1 {color:black;}
li {color:black;}
body { background-image: url("matrixx.gif"); }
strong {color:black; text-align: center;}
.hyperlink {color:black;}
.pirmais {color:white; text-align: center; font-weight: bold; background-color: black;}
.saraksts {color:white; text-align: left; font-weight: bold; background-color: black;}
