h1 {color:black;}
li {color:black;}
body { background-image: url("matrixx.gif"); }
strong {color:black; text-align: center;}
.hyperlink {color:red; font: 1.5rem small-caps "Fira Sans", sans-serif; background-color: black;}
.pirmais {color:white; text-align: center; font-weight: bold; background-color: black; font-size: 20px;}
.saraksts {color:white; text-align: left; font-weight: bold; background-color: black; font-size: 20px;}
.virsr {color:white; text-align: center; font-weight: bold; background-color: black; font-size: 40px;}